.principal {
    display: flex;
}
.mobile-cadastro{
    display: none;
}
.logo-cadastro {
    width: 104rem;
    height: 100vh;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo-cadastro p {
  font-size: 2.5rem;
  font-family: var(--regular-font);
  color: var(--black-color);
  text-align: center;
  padding: 5rem;
}
.logo-name-cadastro {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-name-cadastro img {
  width: 20rem;
  height: 20rem;
}
.logo-name-cadastro h2 {
  font-size: 10rem;
  font-family: var(--regular-font);
  color: var(--black-color);
  margin-right: 5rem;
  text-align: center;
  font-weight: 500;
}
.section-cadastro{
    width: 88rem;
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
@media  screen and (max-width: 1440px) {

  .logo-cadastro {
    width: 95rem;
    height: auto;
  }

  .logo-name-cadastro img {
    width: 18rem;
    height: 18rem;
    padding-bottom: 0;
  }

  .logo-name-cadastro h2 {
    font-size: 7rem;
  }

  .section-cadastro {
      width: 80rem;
      padding-left: 0;
  }
}

@media  screen and (max-width: 1280px) {

  .logo-cadastro {
    width: 95rem;
    height: auto;
  }

  .logo-cadastro p {
    font-size: 1.5rem;
    padding: 3rem;
    
  }

  .logo-name-cadastro img {
    width: 15rem;
    height: 15rem;
    padding-bottom: 0;
  }

  .logo-name-cadastro h2 {
    font-size: 7rem;
  }

  .section-cadastro {
      width: 80rem;
      padding-left: 0;
  }
}

@media screen and (max-width: 768px), (max-width: 820px) {
  .section-cadastro {
    flex-direction: column;
    align-items: center;
  }
  .logo-cadastro {
    display: none;
  }
  .mobile-cadastro
  {
    display: flex;
    color: var(--white-color);
    font-size: 8rem;
    font-family: var(--regular-font);
    margin-bottom: 4rem;
  }
}


@media screen and (max-width: 414px) {
  .section-cadastro {
    flex-direction: column;
    align-items: center;
  }
  .logo-cadastro {
    display: none;
  }
  .mobile-cadastro
  {
    display: flex;
    font-size: 6rem;
    margin-bottom: 4rem;
  }  
}
@media screen and (max-width: 320px)  {
  .mobile-cadastro
  {
    font-size: 4rem;
    margin-bottom: 4rem;
  }
}
