.paginas {
    display: flex;
    flex-direction: column;
    width: 10rem;
    height: 10rem;
    background-color: var(--white-color);
    border-radius: 0.5rem;
    border: solid 0.2rem var(--white-color);
}
.paginas a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.5rem;
    cursor: pointer;
}
.paginas a:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}
.admin {
    width: 100%;
    height: 50%;
    border-radius: 1rem;
}
.admin a:hover {
    border-radius: 0.5rem;
}

.perfil {
    width: 100%;
    height: 50%;
}
.perfil a:hover {
    border-radius: 0.5rem;
}