.new_question_container {
  background-color: var(--white-color);
  justify-content: center;
  text-align: center;
  width: 95%;
  max-width: 103.5rem;
  border-radius: 1rem;
  margin: 5rem;
  padding: 2.5rem;
  height: 77vh;
}

.admin_header {
  font-size: 2.5rem;
}

.select_section{
  width: 100%;
  display: flex;
  }

.select_section h2 {
  width: 33%;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 2rem;

}

.selected_tab {
  border: solid 0.3rem var(--primary-color);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: var(--white-color);
  border-bottom: none;
}

.selected_tab {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.select_section h2:nth-child(odd) {
  width: 34%;
}

.left_tab {
  height: 61vh;
  border: solid 0.2rem var(--primary-color);
  border-radius: 0rem 1rem 1rem 1rem;
  background-color: var(--white-color);
  padding: 2rem;
  overflow-y: auto;
}
.middle_tab {
  height: 61vh;
  border: solid 0.2rem var(--primary-color);
  border-radius: 1rem 1rem 1rem 1rem;
  padding: 2rem;
  background-color: var(--white-color);
  overflow-y: auto;
}
.right_tab {
  height: 61vh;
  padding: 2rem;
  border: solid 0.2rem var(--primary-color);
  border-radius: 1rem 0rem 1rem 1rem;
  background-color: var(--white-color);
  overflow-y: auto;
}

.middle_tab::-webkit-scrollbar {
  width: 0.8rem;     /* Tamanho do scroll em si */   
      
}

.middle_tab::-webkit-scrollbar-track {
  background: none;    /* Fundo do scroll */  
  border-radius: 2rem;      /* Arredondamento do scroll */
  }

.middle_tab::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);    /* Cor do scroll */
  border-radius: 2rem;      /* Arredondamento do scroll */
  border: 0.2rem solid transparent;
  }
.middle_tab::-webkit-scrollbar-thumb:hover{
  background-color: var(--primary-color);  /* Cor do scroll */
}

.right_tab::-webkit-scrollbar {
  width: 0.8rem;     /* Tamanho do scroll em si */           
}

.right_tab::-webkit-scrollbar-track {
  background: none;    /* Fundo do scroll */  
  border-radius: 2rem;      /* Arredondamento do scroll */
  
}

.right_tab::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);    /* Cor do scroll */
  border-radius: 2rem;      /* Arredondamento do scroll */
  border: 0.2rem solid transparent;
  
}
.right_tab::-webkit-scrollbar-thumb:hover{
  background-color: var(--primary-color);  /* Cor do scroll */
}

.left_tab::-webkit-scrollbar {
  width: 0.8rem;     /* Tamanho do scroll em si */           
}

.left_tab::-webkit-scrollbar-track {
  background: none;    /* Fundo do scroll */  
  border-radius: 2rem;      /* Arredondamento do scroll */
  
}

.left_tab::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);    /* Cor do scroll */
  border-radius: 2rem;      /* Arredondamento do scroll */
  border: 0.2rem solid transparent;
  
}
.left_tab::-webkit-scrollbar-thumb:hover{
  background-color: var(--primary-color);  /* Cor do scroll */
}
