.admin_container {
  background-color: var(--white-color-2);
  justify-content: center;
  text-align: center;
  width: 95%;
  max-width: 103.5rem;
  border-radius: 1rem;
  margin: 5rem;
  padding: 2.5rem;
  height: 77vh;
}

.admin_header {
  font-size: 2.5rem;
}

.select_section{
  width: 100%;
  display: flex;
  }

.select_section h2 {
  width: 33%;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 2rem;

}

.selected_tab {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: var(--secondary-color);
}

.select_section h2:nth-child(odd) {
  width: 34%;
}

.left_tab {
  height: 66vh;
  border-radius: 0rem 1rem 1rem 1rem;
  background-color: var(--secondary-color);
}
.middle_tab {
  height: 66vh;
  border-radius: 1rem 1rem 1rem 1rem;
  background-color: var(--secondary-color);
}
.right_tab {
  height: 66vh;
  border-radius: 1rem 0rem 1rem 1rem;
  background-color: var(--secondary-color);
}