.principal {
    display: flex;
}
.logo {
    width: 104rem;
    height: 100vh;
    background-color: var(--white-color);
    display: grid;
    grid-template-rows: 0.3fr 0.3fr;
    align-items: center;
}
.logo img {
    width: 30rem;
    height: 30rem;
    padding-left: 33rem;
    padding-bottom: 0;
}
.logo h2 {
    font-size: 10rem;
    font-family: var(--regular-font);
    color: var(--black-color);
    text-align: center;
    font-weight: 500;
}
.section-login {
    width: 80rem;
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1440px) {
    .principal {
      display: flex;
    }
  
    .logo {
      width: 95rem;
      height: auto;
      grid-template-rows: 0.3fr 0.3fr;
      text-align: center;
    }
  
    .logo img {
      width: 25rem;
      height: 25rem;
      padding-right: 0;
      padding-left: 25rem;
      padding-bottom: 0;
      
    }
  
    .logo h2 {
      font-size: 7rem;
      padding: 1rem;
      font-weight: 500;
    }
  
    .section-login {
        width: 80rem;
        background-color: var(--primary-color);
        display: flex;
        align-items: center;
        padding-left: 0;
        justify-content: center;
    }
  }