.main_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
    width: 100%;
    background-color: var(--white-color);
}

    .logo_div {
        margin-left: 0.5rem;
        background-size: cover;
        display: flex;
        align-items: center;
    }

    .logo_img{
        display: flex;
        height: 6rem;
        width: 4rem;
        margin-right: .5rem;

    }

    .logo_img img{
        background-size: cover;
    }

    .search_bar {
        width: 25%;
        height: 3rem;
        font-size: 2rem;
        border-radius: 10px; 
        text-align: center;
        border-style: none;
        background-color: var(--gray-color-2);
        outline: solid 1px var(--gray-color-1);
    }

    .user_img {
        margin-left: 11.5rem;
        margin-bottom: 0.25rem;
        width: 5rem;
        height: 5rem;
    }

    .logout_img {
        margin: 1.75rem 1rem 1.25rem 1rem;
        width: 3rem;
        height: 3rem;

    }