.container {
    background-color: var(--white-color);
    margin: 5rem;
    border-radius: 1rem;
    padding: 2.5rem;
}

.materia_title {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 2.5rem;
}

.materia_title h2{
    font-size: 2.5rem;
}

.materia_title img {
    height: 48px;
    width: 48px;
}

.question_container {
    max-height: 89%;
    overflow-y: auto;
    border-radius: 1rem;
}

.mat_header_empty_div {
   min-width: 150px;
}

.question_container::-webkit-scrollbar {
    width: 0.8rem;     /* Tamanho do scroll em si */           
  }
  
  .question_container::-webkit-scrollbar-track {
    background: none;    /* Fundo do scroll */  
    border-radius: 2rem;      /* Arredondamento do scroll */
    
  }
  
  .question_container::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);    /* Cor do scroll */
    border-radius: 2rem;      /* Arredondamento do scroll */
    border: 0.2rem solid transparent;
    
  }
  .question_container::-webkit-scrollbar-thumb:hover{
    background-color: var(--primary-color);  /* Cor do scroll */
  }

.question {
    background-color: var(--white-color);
    padding:2rem 2rem 1rem 2rem;
    border: solid 0.2rem var(--primary-color);
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.question header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.question h3 {
    font-size: 2rem;
}

.container p {
    font-size: 1.5rem;
}

.vote {
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
}

.date {
    margin-left: auto;
}

