:root {
  --primary-color: #1781E3;
  --black-color: #000000;
  --white-color: #ffffff;
  --white-color-2: rgba(255, 255, 255, 0.8);
  --gray-color-1: #CDCDCD;
  --gray-color-2: #F2F2F2;

  --regular-font: 'M PLUS Rounded 1c', sans-serif;
}

* {
  margin: 0;
  /*zerando as margens*/
  padding: 0;
  /*zerando o padding*/

}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
  scroll-behavior: smooth;
  /*rolagem suave*/
}

body {
  background-color: var(--primary-color);
}

h1 {
  margin-left: 3rem;
  font-size: 4rem;
  font-family: var(--regular-font);
}